{% extends 'base.html' %}
<title>{% block title %} About {% endblock %}</title>

{% load static %}
{% block start %}

<div class="container">
    <div class="row about-row">
        <div class="col-lg-7 infoPara">
            <img src="{% static 'img/blog-assests/about-img.svg' %}" alt="about-img">
            <p>Welcome to TheFortyseven.dev, your number one source for all unique blogs, products and services. We're
                dedicated to educate you with the best knowledge through our blogs, tools and services with a focus on
                various aspects and technology.On this website you'll find various blogs and tools related to Ethical
                Hacking, Cyber Security and much more. The main purpose of these blogs are EDUCATION. You can refer
                these blogs to understand how a simple tool can be developed without any prior knowledge and/or
                understand it's working. It will help you understand the basics behind it, and eventually, make you
                aware of such tools already available over the internet. It will also help you in developing a way to
                protect yourselves.
            </p>
        </div>

        <div class="col-lg-5 rightPara">
            <p>ANYONE can create their account on this website, you'll just need a valid email address to begin with.
                There are three types of user accounts:
            <ul>
                <li style="color: #FF9704;">1 - SUPERUSER (ACCESS TO EVERYTHING)</li>
                <li style="color: #00BFA6;">2 - STAFF (POST A NEW BLOG AND COMMENT)</li>
                <li style="color: #999999;">3 - VIEWER (COMMENTS ONLY)</li>
            </ul>
            In case you're interested in posting blogs, please request for a STAFF privileged access, I'll approve your
            application post review.</p><br>

            <p>Each blog from a STAFF member needs an approval from a SUPERUSER. The blog is not sent for approval
                automatically, the member needs to manually send the blog for approval, it can be done from 'My Blogs >
                'Send for a Review'. The status of the blog can be seen in 'My Blogs' section. It will either be seen
                under 'NOT SENT FOR REVIEW' or 'PENDING REVIEW'.</p>

            <p>APPROVED blogs can be seen under 'APPROVED BLOGS'.</p>
        </div>

    </div>
    <div class="row disclaimer">
        <div class="col-lg-12">
            <blockquote>
                The blogs available on this website are meant for EDUCATIONAL PURPOSE ONLY. I've used my own systems to
                carry out these tests. I personally DO NOT support or promote any unethical practices, as said, it is
                solely meant for educational purpose only. Any misuse of the available content is completely at your own
                risks.
            </blockquote>
        </div>
    </div>
</div>

{% endblock %}