{% extends 'base.html' %}
<title>{% block title %} Active Subscriptions {% endblock %}</title>

{% load static %}
{% block start %}

<div class="preview" style="background-color: #00BFA6; color:#333;">
  <h3>ADMIN ACCESS</h3>
</div>

<div class="container">
  <div class="row userList adminRowHead">
    <h3>ACTIVE SUBSCRIPTIONS</h3>
    <div class="col-lg-12 userCol" id="usersTable">
      <table class="table table-hover userAccountTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          {% for subscription in subscriptionList reversed %}
          <tr class="table-row">
            <th scope="row">{{forloop.revcounter}}</th>
            <td>{{subscription.email}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 paginator">
      <nav aria-label="Page navigation">
        {% if allSubscriptions.has_other_pages %}
        <ul class="pagination">
          {% if allSubscriptions.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ allSubscriptions.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true" class="disabled">&laquo;</span>
              {% endif %}
            </a>
          </li>

          {% for i in allSubscriptions.paginator.page_range %}
          {% if allSubscriptions.number == i %}
          <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}

          {% if allSubscriptions.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ allSubscriptions.next_page_number }}" aria-label="Next">
              <span aria-hidden="true" class="disabled">&raquo;</span>
              {% endif %}
            </a>
          </li>
        </ul>
        {% endif %}
      </nav>
    </div>
  </div>
</div>

{% endblock %}