{% extends 'base.html' %}
<title>{% block title %} Admin Panel {% endblock %}</title>

{% load static %}
{% block start %}

<div class="container">
  <div class="row adminTasksRow">
    <div class="adminTasks">
      <!-- <a href="{% url 'blogs:review-blog' %}">REVIEW BLOGS</a>
      <a href="{% url 'blogs:user-manage' %}">USER MANAGEMENT</a>
      <a href="{% url 'blogs:admin-messages' %}">MESSAGE BOX</a> -->

        <a href="{% url 'blogs:review-blog' %}">
          <h4>REVIEW BLOGS</h4>
          <i class="bi bi-calendar2-check"></i>
          <p>Download and Install Python along with Required Dependancies.</p>
        </a>

        <a href="{% url 'blogs:user-manage' %}">
          <h4>MANAGE USER</h4>
          <i class="bi bi-people"></i>
          <p>Download and Install Python along with Required Dependancies.</p>
        </a>

        <a href="{% url 'blogs:admin-messages' %}">
          <h4>MESSAGE BOX</h4>
          <i class="bi bi-envelope"></i>
          <p>Download and Install Python along with Required Dependancies.</p>
        </a>

        <a href="{% url 'blogs:admin-subscriptions' %}">
          <h4>SUBSCRIPTIONS</h4>
          <i class="bi bi-envelope-open-heart"></i>
          <p>Download and Install Python along with Required Dependancies.</p>
        </a>

    </div>
  </div>
</div>


{% endblock %}