{% extends 'base.html' %}
<title>{% block title %} User Management {% endblock %}</title>

{% load static %}
{% block start %}

<div class="preview" style="background-color: #00BFA6; color:#333;">
  <h3>ADMIN ACCESS</h3>
</div>

<div class="container">
  {% if not usersList == None %}
  <div class="row userList adminRowHead">
    <h3>USERS LIST</h3>
    <div class="col-lg-12 userCol" id="usersTable">
      <table class="table table-hover userAccountTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Email</th>
            <th scope="col">Joined On</th>
            <th scope="col">Last Login</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in usersList %}
          <input type="hidden" name="userPK" id="{{user.pk}}">
          <tr class="table-row">
            <th scope="row">{{forloop.revcounter}}</th>
            {% if user.is_active %}
            <td class="activeUser"><a href="{% url 'blogs:admin-user-profile' user.username %}">{{user.first_name}} {{user.last_name}}</a></td>
            {% else %}
            <td class="inactiveUser"><a href="{% url 'blogs:admin-user-profile' user.username %}">{{user.first_name}} {{user.last_name}}</a></td>
            {% endif %}
            <td>{{user.email}}</td>
            <td>{{user.date_joined|date:"M d, Y"}} {{user.date_joined|time:"h:i A"}}</td>
            <td>{{user.last_login|date:"M d, Y"}} {{user.last_login|time:"h:i A"}}</td>
            {% if not user == request.user %}
              <td>
              {% if user.is_active %}
              <label id="disableUser-{{user.pk}}" onclick="disableUser(this.id)"><i class="bi bi-person-x"></i></label>
              <label id="deleteUser-{{user.pk}}" onclick="deleteUser(this.id)"><i class="bi bi-trash"></i></label>
              {% else %}
              <!-- <a href="{% url 'blogs:activate-user' user.pk %}"><i class="bi bi-person-check"></i></a> -->
              <label id="activateUser-{{user.pk}}" onclick="activateUser(this.id)"><i class="bi bi-person-check"></i></label>
              <label id="resendVerification-{{user.pk}}" onclick="resendVerification(this.id)"><i class="bi bi-envelope-paper"></i></label>
              <label id="deleteUser-{{user.pk}}" onclick="deleteUser(this.id)"><i class="bi bi-trash"></i></label>
              {% endif %}
            </td>
            {% else %}
            <td>
              {% if user.is_active %}
              <label class="suUser"><i class="bi bi-person-x"></i></label>
              <label class="suUser"><i class="bi bi-trash"></i></label>
              {% endif %}
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

<div class="row">
  <div class="col-lg-12 paginator">
    <nav aria-label="Page navigation">
      {% if usersList.has_other_pages %}
      <ul class="pagination">
        {% if usersList.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ usersList.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true" class="disabled">&laquo;</span>
            {% endif %}
          </a>
        </li>

        {% for i in usersList.paginator.page_range %}
        {% if usersList.number == i %}
        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if usersList.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ usersList.next_page_number }}" aria-label="Next">
            <span aria-hidden="true" class="disabled">&raquo;</span>
            {% endif %}
          </a>
        </li>
      </ul>
      {% endif %}
    </nav>
  </div>
</div>

  {% else %}
  <div class="row noDataAvailable">
    <h3>NO DATA AVAILABLE</h3>
  </div>
  {% endif %}
</div>

{% endblock %}