{% extends 'base.html' %}
{% load static %}


{% block start %}

<div class="container container-head">
    <div class="row header-img-row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 header-img">
        <img src="{% static 'blogs/homepage-img.svg' %}" alt="homepage-img">
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="bouncer">
          <a class="btn-bounce bounce" href="#about"><i class="bi bi-caret-down-fill"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row search-row">
        <div class="col-lg-7"></div>
        <div class="col-lg-3">
            <form id="search-bar">
                {% csrf_token %}
                <input id="serchField" name="search" type="text" placeholder="Search">
        </div>
        <div class="col-lg-2 btn-base">
            <button type="submit">SEARCH <i class="bi bi-search"></i></button>
        </div>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6 col-10 blog-list">
            <div class="blog-content">
                <a href="">
                    <img src="{% static 'img/portfolio/blog-2.jpg' %}" alt="">
                    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, sapiente aliquid reprehenderit
                        quasi
                        provident ut totam itaque.</h4>
                    <p>Lorem ipsus quasi libero atque! Laboriosam atque, accusantium porro pariatur vel neque
                        expedita illum
                        cumque consequuntur modis quasi libero atque! Laboriosam atque, accusantium porro pariatur vel
                        neque
                        expedita illum
                        cumque consequuntur modim dolor sit amet consectetur, adipisicing elit. Sapiente tenetur impedit
                        consequuntur
                        aliquid,.</p><br>
                    <span>17 MAY 2022</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-10 blog-list">
            <div class="blog-content">
                <a href="">
                    <img src="{% static 'img/portfolio/blog-2.jpg' %}" alt="">
                    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, sapiente aliquid reprehenderit
                        quasi
                        provident ut totam itaque.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente tenetur impedit consequuntur
                        aliquid,
                        delectus natus quasi libero atque! Laboriosam atque, accusantium porro pariatur vel neque
                        expedita illum
                        cumque consequuntur modi.</p><br>
                    <span>17 MAY 2022</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-10 blog-list">
            <div class="blog-content">
                <a href="">
                    <img src="{% static 'img/portfolio/blog-2.jpg' %}" alt="">
                    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, sapiente aliquid reprehenderit
                        quasi
                        provident ut totam itaque.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente tenetur impedit consequuntur
                        aliquid
                        cumque consequuntur modi.</p><br>
                    <span>17 MAY 2022</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-10 blog-list">
            <div class="blog-content">
                <a href="">
                    <img src="{% static 'img/portfolio/blog-2.jpg' %}" alt="">
                    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, sapiente aliquid reprehenderit
                        quasi
                        provident ut totam itaque.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente tenetur impedit consequuntur
                        aliquid,
                        delectus natus quasi libero atque! Laboriosam atque, accusantium porro pariatur vel neque
                        expedita illum
                        cumque consequuntur modi.</p><br>
                    <span>17 MAY 2022</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-10 blog-list">
            <div class="blog-content">
                <a href="">
                    <img src="{% static 'img/portfolio/blog-2.jpg' %}" alt="">
                    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, sapiente aliquid reprehenderit
                        quasi
                        provident ut totam itaque.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente tenetur impedit consequuntur
                        aliquid,
                        delectus natus quasi libero atque! Laboriosam atque, accusantium porro pariatur vel neque
                        expedita illum
                        cumque consequuntur modi.</p><br>
                    <span>17 MAY 2022</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}