{% extends 'blog-base.html' %}
{% load static %}


{% block start %}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-10 blog-list">
            <div class="blog-content">
                <a href="">
                    <img src="{% static 'img/portfolio/blog-2.jpg' %}" alt="">
                    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, sapiente aliquid reprehenderit
                        quasi
                        provident ut totam itaque.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente tenetur impedit consequuntur
                        aliquid,
                        delectus natus quasi libero atque! Laboriosam atque, accusantium porro pariatur vel neque
                        expedita illum
                        cumque consequuntur modi.</p><br>
                    <span>17 MAY 2022</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-10 blog-list">
            <div class="blog-content">
                <a href="">
                    <img src="{% static 'img/portfolio/blog-2.jpg' %}" alt="">
                    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, sapiente aliquid reprehenderit
                        quasi
                        provident ut totam itaque.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente tenetur impedit consequuntur
                        aliquid,
                        delectus natus quasi libero atque! Laboriosam atque, accusantium porro pariatur vel neque
                        expedita illum
                        cumque consequuntur modi.</p><br>
                    <span>17 MAY 2022</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-10 blog-list">
            <div class="blog-content">
                <a href="">
                    <img src="{% static 'img/portfolio/blog-2.jpg' %}" alt="">
                    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, sapiente aliquid reprehenderit
                        quasi
                        provident ut totam itaque.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente tenetur impedit consequuntur
                        aliquid,
                        delectus natus quasi libero atque! Laboriosam atque, accusantium porro pariatur vel neque
                        expedita illum
                        cumque consequuntur modi.</p><br>
                    <span>17 MAY 2022</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-10 blog-list">
            <div class="blog-content">
                <a href="">
                    <img src="{% static 'img/portfolio/blog-2.jpg' %}" alt="">
                    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, sapiente aliquid reprehenderit
                        quasi
                        provident ut totam itaque.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente tenetur impedit consequuntur
                        aliquid,
                        delectus natus quasi libero atque! Laboriosam atque, accusantium porro pariatur vel neque
                        expedita illum
                        cumque consequuntur modi.</p><br>
                    <span>17 MAY 2022</span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-10 blog-list">
            <div class="blog-content">
                <a href="">
                    <img src="{% static 'img/portfolio/blog-2.jpg' %}" alt="">
                    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, sapiente aliquid reprehenderit
                        quasi
                        provident ut totam itaque.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente tenetur impedit consequuntur
                        aliquid,
                        delectus natus quasi libero atque! Laboriosam atque, accusantium porro pariatur vel neque
                        expedita illum
                        cumque consequuntur modi.</p><br>
                    <span>17 MAY 2022</span>
                </a>
            </div>
        </div>
    </div>
</div>
    {% endblock %}