{% extends 'base.html' %}
{% load static %}

<title>{% block title %} {{blogs_obj.title}} {% endblock %}</title>

{% block start %}
<section>
    <div class="container indBlog-container">
        <div class="row editRow">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                {% if blogs_obj.user.is_authenticated and blogs_obj.user == request.user or request.user.is_superuser %}
                <div class="editOptions">
                    <a href="{%  url 'blogs:blog-update' blogs_obj.pk %}"><i class="bi bi-pen hover-color"></i></a>
                    <a href="{% url 'blogs:blog-delete' blogs_obj.id %}"><i class="bi bi-trash hover-color"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xl-10 mx-auto"><img class="img-fluid mb-5" src="{{blogs_obj.image.url}}" alt=""></div>
        </div>
        <div class="row">
            <div class="col-xl-10 col-lg-10 mx-auto">
                <div class="text-heading">
                    <h2>{{blogs_obj.title|safe}}</h2>
                </div>
                <div class="auth-details">
                    <p>Posted on <span>{{blogs_obj.created_at|date:"M d, Y"}} {{blogs_obj.created_at|time:"h:i A"}}</span> by <span>{{blogs_obj.user.first_name}}</span></p>
                    <p>Approved at {{approvedAt}} by {{approvedBy}}</p>
                    <p>Total Views: {{blogs_obj.total_views}}</p>
                </div>
                <div class="text-content">
                    {{blogs_obj.content|safe}}
                </div>
            </div>
        </div>
    </div>
</section>


<div class="chatbar" id="chatbar">
    <div>
        <h6 id="chtHead">COMMENTS <i class="bi bi-box-arrow-in-up"></i></h6>
        <div class="chtContentBox">
            <div class="innerContentBox" id="innerContentBox">
                {% for comment in comments %}
                <form action="/delete-comment/{{comment.serial}}" method="POST">
                    {% csrf_token %}
                    <div class="userComment">
                        <!-- <button type="submit">{{comment.serial}}<i
                                class="bi bi-trash hover-color"></i></button> -->
                        <h6><a class="userPro" href="{% url 'blogs:user-profile' comment.user.username %}">{{comment.user.first_name}}</a></h6> <span>{{comment.time|date:"M d, Y"}}
                            {{comment.time|time:"h:i A"}}</span>
                        <p>{{comment.comment}}</p>
                    </div>
                </form>
                {% endfor %}
            </div>
        </div>


        {% if request.user.is_authenticated %}
        <div class="userAddComment">
            <form>
                <input type="text" name="postComment" id="postComment">
                <input type="hidden" name="postId" id="postId" value="{{blogs_obj.id}}">
                <button onclick="blogComment(event)"><i class="bi bi-send-fill"></i></button>
            </form>
        </div>
        {% else %}
        <div class="userAddComment" style="color: white; height: 6em">
            <h6 style="padding-top:30px;">You need to login to add a comment.</h6>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}