{% extends 'base.html' %}
{% load static %}


{% block start %}

<div class="lander" id="lander">
  <div>
    <svg class="logo-sign" xmlns="http://www.w3.org/2000/svg" width="54" height="30" viewBox="-55 25 54 30" fill="#FFF">
      <g class="logo-sign__box">
        <polygon class="logo-sign__line" points="-1,37.333 -1,42.667 -3,44 -3,36" />
        <polygon class="logo-sign__line" points="-5,33.333 -5,46.667 -7,48 -7,32" />
        <polygon class="logo-sign__line" points="-9,29.333 -9,50.667 -11,52 -11,28" />
        <polygon class="logo-sign__line" points="-13.5,25 -13,25.333 -13,54.667 -13.5,55 -15,54 -15,26" />
        <polygon class="logo-sign__line" points="-17,28.667 -17,51.333 -19,50 -19,30" />
        <polygon class="logo-sign__line" points="-21,32.667 -21,47.333 -23,46 -23,34" />
        <polygon class="logo-sign__line" points="-25,36.667 -25,43.333 -27,42 -27,38" />
      </g>
    </svg>
  </div>

  <div class="container container-head">
    <div class="row header-img-row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 header-img">
        <img src="{% static 'img/blog-assests/homepage-img.svg' %}" alt="homepage-img">
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="bouncer">
          <a class="btn-bounce bounce" href="#blogs-container"><i class="bi bi-caret-down-fill"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="blogs-container">
    <div class="row">
      {% for blog in blogs %}
      <div class="col-lg-3 col-md-6 col-10 blog-list">
        <div class="blog-content">
          <a href="{% url 'blogs:blog-detail' blog.slug %}">
            <img src="/media/{{blog.image}}" alt="">
            <h4>{{blog.title}}</h4>
            <p>{{blog.gist|safe}}</p><br>
            <span>{{blog.created_at|date:"M d, Y"}} {{blog.created_at|time:"h:i A"}} by
              {{blog.user.first_name}}</span><br>
            <span>Total Views: {{blog.total_views}}</span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}