<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">


  <title>Portfolio - Pushkar Jadhav</title>

</head>

<body>
  <div id="navbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 brand-img"><img src="{% static 'img/nav-logo.svg' %}" alt="brand-logo"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 nav-contents">
          <div class="list-icon"><a href=""><i class="bi bi-list"></i></a></div>
          <ul>
            <li><a href="#particles-js">HOME</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#skills">SKILLS</a></li>
            <li><a href="#blogs">BLOGS</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="particle" id="particles-js">
    <div class="txt-like">
      <h6>DROP A HEART</h6>
    </div>
    <button class="heart">
      <div class="heart-flip"></div>
      <script>
        document.querySelectorAll('.heart, .heart-button').forEach(button => button.addEventListener('click', e => button.classList.toggle('active')));
      </script>
    </button>
    <!-- <div class="btn-like"><a href=""><i class="bi bi-heart"></i></a></div> -->
    <div class="icon-list">
      <ul>
        <li><a href=""><i class="bi bi-linkedin"></i></a></li>
        <li><a href=""><i class="bi bi-github"></i></a></li>
        <li><a href=""><i class="bi bi-instagram"></i></a></li>
        <li><a href=""><i class="bi bi-discord"></i></a></li>
        <li><a href=""><i class="bi bi-facebook"></i></a></li>
        <li><a href=""><i class="bi bi-youtube"></i></a></li>
      </ul>
    </div>

    <div class="name-head">
      <div class="iam">
        <h2 class="iam-head">I'am</h2>
        <div class="col-lg-10 col-6 iam-border"></div>
      </div>
      <h1>PUSHKAR JADHAV</h1>
      <h2><span class="element"></span></h2>
      <a class="resume" href="" target="_blank"><span>RESUME</span></a>
    </div>
  </div>

  <!-- about + skills container -->
  <div class="container" id="about">
    <div class="row about-container">
      <div class="col-lg-6 about-me-img">
        <img src="{% static 'img/portfolio/about-me.png' %}" alt="about-me-art-image">
      </div>
      <div class="col-lg-6 h1-head about-me">
        <h1>ABOUT</h1>
        <h2>Hi! I'm Pushkar Jadhav</h2>
        <p>Well, here's a gist, I'm a Programmer, a Blogger and an Ethical Hacker by profession. As a graduate, I hold a
          Bachelors Degree in Computer Science and Engineering from Savitribai Phule Pune University (formerly
          University
          of Pune). Currently working in Cybage Software PVT.LTD, a leading IT services company which mainly delivers
          outsourced software product development.<br><br>

          It's been more than five years I'm working, and as a freelancer, I've worked on several projects throughout
          years which
          includes Web Development, Graphics Designing, Android Development along with Android ROM Development as
          well.<br><br>

          Recently, I've developed several Windows Applications with the help of Python, Responsive and Interactive
          Websites with Django and React.<br><br>

          I believe in qualitative work rather than quantitative and believe that my skills will support your brand
          and/or
          you to succeed in your business and objectives.<br><br>

          Feel free to get in touch.</p>
      </div>
    </div>

    <div class="row skills-container" id="skills">
      <div class="col-lg-6 h1-head skills">
        <h1>SKILLS</h1>

        <div class="skillset">
          <!-- skills -->
          <div class="individual-skill">
            <h2>HTML/CSS/JS</h2>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>

          <!-- skills -->
          <div class="individual-skill">
            <h2>Django</h2>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>

          <!-- skills -->
          <div class="individual-skill">
            <h2>Python</h2>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>

          <!-- skills -->
          <div class="individual-skill">
            <h2>SQL/Postgre</h2>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>

          <!-- skills -->
          <div class="individual-skill">
            <h2>Google Cloud/Google Firebase</h2>
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-6 skills-img">
        <img src="{% static 'img/portfolio/skills-img.png' %}" alt="skills-art-image">
      </div>
    </div>
    <!-- skills marquee display -->
    <div class="marquee">
      <ul class="marquee-content">
        <li><i class="devicon-postgresql-plain"></i></li>
        <li><i class="devicon-python-plain"></i></li>
        <li><i class="devicon-tensorflow-original"></i></li>
        <li><i class="devicon-css3-plain"></i></li>
        <li><i class="devicon-devicon-plain"></i></li>
        <li><i class="devicon-django-plain"></i></li>
        <li><i class="devicon-docker-plain"></i></li>
        <li><i class="devicon-figma-plain"></i></li>
        <li><i class="devicon-googlecloud-plain"></i></li>
        <li><i class="devicon-html5-plain"></i></li>
        <li><i class="devicon-heroku-original"></i></li>
        <li><i class="devicon-firebase-plain"></i></li>
        <li><i class="devicon-flask-original"></i></li>
        <li><i class="devicon-git-plain"></i></li>
        <li><i class="devicon-csharp-plain"></i></li>
        <li><i class="devicon-javascript-plain"></i></li>
        <li><i class="devicon-jquery-plain"></i></li>
        <li><i class="devicon-jupyter-plain"></i></li>
        <li><i class="devicon-linux-plain"></i></li>
        <li><i class="devicon-markdown-original"></i></li>
        <li><i class="devicon-mongodb-plain"></i></li>
        <li><i class="devicon-mysql-plain"></i></li>
        <li><i class="devicon-npm-original-wordmark"></i></li>
        <li><i class="devicon-nodejs-plain"></i></li>
        <li><i class="devicon-numpy-original"></i></li>
        <li><i class="devicon-pandas-original"></i></li>
        <li><i class="devicon-github-original"></i></li>
        <li><i class="devicon-arduino-plain"></i></li>
        <li><i class="devicon-android-plain"></i></li>
        <li><i class="devicon-atom-original"></i></li>
        <li><i class="devicon-illustrator-plain"></i></li>
        <li><i class="devicon-inkscape-plain"></i></li>
        <li><i class="devicon-filezilla-plain"></i></li>
        <li><i class="devicon-bootstrap-plain"></i></li>
        <li><i class="devicon-canva-original"></i></li>
        <li><i class="devicon-codepen-plain"></i></li>
        <li><i class="devicon-photoshop-plain"></i></li>
        <li><i class="devicon-pycharm-plain"></i></li>
        <li><i class="devicon-putty-plain"></i></li>
        <li><i class="devicon-raspberrypi-line"></i></li>
        <li><i class="devicon-r-original"></i></li>
        <li><i class="devicon-react-original"></i></li>
        <li><i class="devicon-slack-plain"></i></li>
      </ul>
    </div>
  </div>


  <div class="bg-timeline-head">
    <h1>CARRIER TIMELINE</h1>
  </div>
  <!-- timeline container -->
  <div class="timeline-bg">
    <div class="container container-timeline">
      <!-- <h2 class="pb-3 pt-2">Projects Timeline</h2> -->
      <!--first section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center bottom">
          <div class="circle-txt">5</div>
        </div>
        <div class="col-6 individual-timeline-data">
          <span>2020 - Present</span>
          <h4>Cybage Software PVT. LTD</h4>
          <h6><i>Web Developer - Support Analyst</i></h6>
          <p>Develop a Python based model to analyze data using various libraries such as pandas, matplotlib,
            scikit-learn numpy etc. Fix HTML/CSS/JS related bugs resulting build issues in a project. Manipulate
            captured data with the help of Python. Run Shell Scripts periodically to gather word count data for each
            available project. Sanity Checking and Publishing a webpage to live. Communicate with Client in PST hours
            and generate reports on a weekly basis.</p><br>

          <span>2021 - 2022</span>
          <h4>Burnwood - An Open Source, Python Based Cross Platform Tool</h4>
          <h6><i>Freelance</i></h6>
          <p>Burnwood is an open source, cross-platform tool used to generate Windows Exploitation Packages (A Malware).
            The tool is capable of generating Windows Executables consisting of a malware masking behind any normal
            file. The results could be used to study the vulnerabilities, and ultimately will help you prevent them.
            Burnwood provides two delivery methods, Email Based (Gmail) and State -of-The-Art Cloud Based (Google's
            Firebase). Both of these methods works on Google Services and has it's own pros and cons..</p>

        </div>
      </div>

      <!--right to left-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>

      <!--forth section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 individual-timeline-data">
          <span>2017 - 2020</span>
          <h4>Concentrix Daksh PVT. LTD</h4>
          <h6><i>Sr. Technical Support Executive</i></h6>
          <p>Resolve customers' service or service related complaints by performing activities such as troubleshooting.

            Use different set of tools to troubleshoot any service related issues and fix them.

            Provide Knowledge Training to Clients over call, message, email or chat along with Application Support.

            Register or Escalate Tickets to rightful department.

            Contact customers to respond to inquiries or to notify them of claim investigation results or any planned
            adjustments.</p><br>

          <span>2019 - 2020</span>
          <h4>Web Development</h4>
          <h6><i>Freelance Project</i></h6>
          <p>First Web Development freelance project. A Simple dynamic website, freely hosted on EPIZY as their
            sub-domain.<br>
            <a href="http://yogayogcreations.epizy.com/?i=1" target="_blank">Website <i
                class="bi bi-box-arrow-up-right"></i></a>
          </p>

        </div>
        <div class="col-2 text-center full">
          <div class="circle-txt">4</div>
        </div>
      </div>

      <!--left to right-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>

      <!--third section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center top">
          <div class="circle-txt">3</div>
        </div>
        <div class="col-6 individual-timeline-data">
          <span>2013 - 2017</span>
          <h4>Bachelor of Engineering (Computer Science)</h4>
          <h6><i>Savitribai Phule Pune University (formerly, University of Pune)</i></h6><br>
          <br>

          <span>2015 - 2016</span>
          <h4>Android Development</h4>
          <h6><i>Freelancer</i></h6>
          <p>ROM Development - Developed latest (at that period) Android ROM [7.0] exclusively for outdated Sony Experia
            Acro S with the sources available from Google as an AOSP project.<br>
            <a href="https://forum.xda-developers.com/t/rom-7-x-nougat-naosp-rom-for-acro-s.3507721/"
              target="_blank">XDA Developers <i class="bi bi-box-arrow-up-right"></i>
            </a>
          </p>
          <p>Stock Application Port - Ported all the stock applications of Sony to be compatable for all general Android
            devices.<br>
            <a href="https://forum.xda-developers.com/t/apps-ported-mar03-xperia-ported-apps-for-aosp-based-roms.3558430/"
              target="_blank">XDA Developers <i class="bi bi-box-arrow-up-right"></i>
            </a>
          </p>
          <br>

          <span>2020</span>
          <h4>Classification and Prediction of Rice Crop Diseases Using CNN and PNN</h4>
          <h6><i>Engineering Project</i></h6>
          <p>Rice production in India is an important part of the national economy. India is the world's 2nd largest
            producer with approximately 43 Mio Ha planted area, account ing for 22% of the world's rice production. The
            physiological diseases in rice crops are highly common and can be predicted through the structural
            abnormalities in the leaves. Our system proposes a solution to predict few of these disease conditions in
            cluding 'Brown Spot','Hispa','LeafBlast', and a Healthy Rice Crop. The main aim of this proposed system is
            to optimize identification and monitoring of rice crops us ing technologies like:-image processing, neural
            networks, forward feedback mechanism. We hope this forms a basis for other systems as well. <br>
            <a href="https://link.springer.com/chapter/10.1007/978-981-15-5679-1_4" target="_blank">Springer - <i
                class="bi bi-box-arrow-up-right"></i></a>
          </p>
        </div>
      </div>


      <!--right to left-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>

      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works">
        <div class="col-6 text-right individual-timeline-data">
          <span>2011 - 2013</span>
          <h4>HSC - 12th Grade</h4>
          <h6><i>Maharashtra State Board of Secondary and Higher Secondary Board, Pune</i></h6>
        </div>
        <div class="col-2 text-center full">
          <div class="circle-txt">2</div>
        </div>
      </div>

      <!--path left to right-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr />
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>

      <!--first section-->
      <div class="row align-items-center how-it-works">
        <div class="col-2 text-center final-top">
          <div class="circle-txt">1</div>
        </div>
        <div class="col-6 individual-timeline-data">
          <span>2010 - 2011</span>
          <h4>SSC - 10th Grade</h4>
          <h6><i>Maharashtra State Board of Secondary and Higher Secondary Board, Pune</i></h6>
        </div>
      </div>
    </div>
  </div>

  <div class="container blogs-container" id="blogs">
    <div class="row h1-head">
      <h1>BLOGS</h1>
      <div class="col-lg-4 col-sm-12 col-10 blog-list">
        <div class="blog-content">
          <a href="">
            <img src="{% static 'img/portfolio/blog-2.jpg' %}" alt="">
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, sapiente aliquid reprehenderit quasi
              provident ut totam itaque.</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente tenetur impedit consequuntur aliquid,
              delectus natus quasi libero atque! Laboriosam atque, accusantium porro pariatur vel neque expedita illum
              cumque consequuntur modi.</p><br>
            <span>17 MAY 2022</span>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-10 blog-list">
        <div class="blog-content">
          <a href="">
            <img src="{% static 'img/portfolio/blog-2.jpg' %}" alt="">
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, sapiente aliquid reprehenderit quasi
              provident ut totam itaque.</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente tenetur impedit consequuntur aliquid,
              delectus natus quasi libero atque! Laboriosam atque, accusantium porro pariatur vel neque expedita illum
              cumque consequuntur modi.</p><br>
            <span>17 MAY 2022</span>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-10 blog-list">
        <div class="blog-content">
          <a href="">
            <img src="{% static 'img/portfolio/blog-2.jpg' %}" alt="">
            <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, sapiente aliquid reprehenderit quasi
              provident ut totam itaque.</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente tenetur impedit consequuntur aliquid,
              delectus natus quasi libero atque! Laboriosam atque, accusantium porro pariatur vel neque expedita illum
              cumque consequuntur modi.</p><br>
            <span>17 MAY 2022</span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-7"></div>
      <div class="col-lg-2 col-5 btn-load-more">
        <a href="">LOAD MORE <i class="bi bi-box-arrow-up-right"></i></a>
      </div>
    </div>
  </div>


  <div class="contact-bg" id="contact">
    <div class="container contact-container">
      <!-- <div class="row contact-head">
       <div class="col-lg-4 get-in-touch"><h4>GET IN TOUCH</h4></div>
       <div class="col-lg-8 leave-me-a-message"><h4>LEAVE ME A MESSAGE!</h4></div>
      </div> -->

      <div class="row contact-data">

        <div class="col-lg-5 get-in-data">
          <div class="container">
            <div class="row contact-head">
              <h4>GET IN TOUCH</h4>
            </div>
            <i class="bi bi-geo-alt"></i>
            <h6>Vadgaon Sheri, Pune-14</h6>
            <br>
            <i class="bi bi-envelope"></i>
            <h6>pushkar.jadhao@gmail.com</h6>
          </div>
        </div>

        <!-- right side columns - 8 -->
        <div class="col-lg-7 leave-me-data">
          <div class="container">
            <div class="row contact-head">
              <h4>LEAVE ME A MESSAGE!</h4>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <form action="#contact" method="post">
                  {% csrf_token %}
                  <input id="name" name="name" class="form-inp" type="text" placeholder="Name">
              </div>
              <div class="col-lg-6">
                <input id="email" name="email" class="form-inp" type="email" placeholder="Email">
              </div>
            </div>
            <div class="row form-row">
              <textarea name="desc" id="desc" placeholder="How can I help you?" rows="8"></textarea>
            </div>
            <div class="row">
              <div class="btn-submit">
                <button type="submit">SUBMIT <i class="bi bi-send"></i></button>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>

      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem totam nemo itaque nesciunt excepturi corporis
        debitis nulla iste natus, doloribus accusamus voluptatibus assumenda tempore dolore mollitia. Placeat suscipit
        tempore possimus.
        Sequi, ex harum molestias minus impedit, nesciunt repellat autem alias rerum ab blanditiis praesentium.
        Veritatis harum ab eos eligendi, iure amet nobis ea error ad voluptatum laboriosam doloremque voluptatibus
        voluptatem.
        Itaque, vel corporis molestias officia nam obcaecati vitae accusantium numquam et repellendus ex culpa,
        recusandae quia nisi suscipit amet, vero sapiente ipsa sunt iusto eum consequatur nemo. Eius, repellat animi.
        Culpa velit illo sunt ut, dolorem qui neque aperiam veritatis libero quasi provident dolorum maxime, voluptas
        reiciendis quis dolor tempora? Quod vero esse inventore quibusdam veniam ducimus laboriosam nostrum voluptatem.
        Assumenda illum ratione vitae nihil laudantium labore quas tenetur dicta quod ea minus ab aliquam necessitatibus
        at sunt, sapiente eveniet itaque qui, natus voluptates animi asperiores placeat facilis fuga? Esse.
        Beatae consequatur provident illum dolorem perspiciatis optio minus quas, maxime officia, earum exercitationem
        assumenda? Numquam expedita quis, cumque voluptatem nemo culpa odio eum quia ratione ipsam similique facilis,
        sit impedit?
        Omnis, totam quod, sit magnam iusto, aperiam modi mollitia eaque voluptatibus reprehenderit deleniti alias nobis
        illum incidunt iure provident nostrum perferendis! Dolores fugiat asperiores culpa corporis dolor. Fugiat,
        consectetur fugit.
        Inventore cumque cupiditate deserunt, natus voluptatum tenetur reprehenderit dignissimos eligendi repellat
        voluptatem quos modi quam quia in error. A harum quae eveniet consectetur, alias sequi quisquam magni? Quisquam,
        fugiat sapiente.
        Animi eos facilis aut! Voluptas officia dolore modi odit vitae! Sint omnis aut laborum. At mollitia error
        reiciendis fugit quasi neque voluptatum tempora quod nesciunt vel, assumenda consequatur veritatis ut!
        Nisi exercitationem accusamus porro laborum alias maxime ut hic vel rerum nostrum sit debitis aliquam aut,
        inventore est repellat, soluta facilis neque tenetur autem non doloribus ipsam! Consequuntur, sunt nam?
        Deleniti doloribus repellendus itaque pariatur sequi soluta quisquam numquam ullam distinctio rem beatae tempore
        laudantium officiis nesciunt accusantium cumque eius velit, culpa ea ad cum. Aspernatur molestiae at laboriosam
        aliquid!
        Adipisci corrupti ex ut libero ab commodi, fugit, itaque facilis omnis dignissimos autem dolorem aspernatur
        aliquam, doloremque rerum velit unde amet ea alias voluptatum. Repellat et ipsum dolorem. Placeat, id.
        Sit sed neque sapiente voluptate blanditiis sequi esse! Veritatis iure culpa reprehenderit natus voluptas sit
        autem officia molestias eligendi rerum? Velit corrupti sit molestias cumque minima, optio fuga animi
        consectetur.
        Officia est itaque nesciunt esse excepturi doloribus quis, magnam optio error. Nisi porro beatae at deserunt
        quis expedita dicta reprehenderit, nostrum repellendus nobis ipsam provident? Impedit dolorem repudiandae iusto
        ullam.
        Cum provident sunt accusamus molestias, repellat veniam quam saepe labore nam possimus consectetur libero rerum
        mollitia numquam incidunt ipsa totam eaque fugiat. Perspiciatis repellat magni veritatis, nulla quia ab natus.
        Saepe quasi laboriosam deserunt eligendi. Neque dicta laborum placeat doloremque itaque. Ipsum, rem voluptates.
        Rerum pariatur deleniti mollitia placeat velit voluptatum quae sed, sint deserunt nulla quisquam cupiditate
        adipisci doloremque.
        Debitis molestias neque adipisci et amet illo accusamus nemo in ea consequuntur, nam exercitationem earum
        doloremque esse quam cupiditate quod dolor fugit quia ratione? Eaque dolore similique rem vitae consectetur.
        Rerum culpa laboriosam ipsum. Qui sunt placeat mollitia omnis dolorum facilis, voluptatibus quae autem quod?
        Laudantium, explicabo recusandae modi dicta dolore in rem hic temporibus ipsam iure molestiae sunt molestias!
        Explicabo fuga ipsum quis! Quidem corporis necessitatibus vel repellendus sed laborum consequatur. Dignissimos
        excepturi, repellat aut sequi architecto nihil recusandae animi perferendis ad esse provident ratione maxime,
        exercitationem iure deserunt.
        Dolorum totam labore ipsam cupiditate rem excepturi, architecto reprehenderit nostrum eveniet est voluptatibus
        nemo, eaque dicta? Suscipit, veritatis deserunt! Dolorum earum nesciunt, hic ipsa expedita repellat. Eligendi
        non porro magni!
        Neque molestias quo nostrum commodi, incidunt itaque veniam nesciunt illum sint quidem a debitis reiciendis
        repellat tempore architecto. Totam ducimus doloremque praesentium sunt sint repellat similique non accusamus
        veniam neque!
        Incidunt obcaecati quas dolor nobis labore, consequuntur esse minus alias accusantium molestias vero consectetur
        quis aspernatur tempore rerum numquam non nemo corporis. Fuga dolores soluta quidem nam repudiandae expedita
        eos.
        Eius, odio! Id, fugit reiciendis facere, corporis et, nemo error ab impedit delectus ut saepe! Inventore
        officiis rerum hic, dolore autem ad sapiente facilis fugiat, odio quas aperiam, ipsa voluptatum?
        Aut accusamus molestiae iusto quas sint placeat laboriosam voluptatem quae reprehenderit, cupiditate enim facere
        a perspiciatis? Ut nulla veritatis laudantium corporis omnis voluptates, libero delectus tempore iure
        perferendis laborum repudiandae!
        Sequi, inventore libero. Sequi voluptate assumenda placeat quia blanditiis neque est pariatur ex culpa dicta
        officiis perspiciatis magnam, porro explicabo labore ratione accusamus nesciunt fuga atque maiores. Cum, nostrum
        molestiae?
        Et rerum deleniti assumenda sapiente mollitia atque amet fugiat aspernatur libero odit eaque hic, beatae
        distinctio provident incidunt, blanditiis quasi perferendis pariatur labore nihil, consequuntur sit veniam.
        Sequi, aut hic.
        Eaque accusamus corporis ducimus facere in possimus quas magni iusto ipsa ipsum earum distinctio unde, facilis
        eius quo aut ut. In ad dolor cum dicta perspiciatis corporis nisi corrupti minus.
        Perferendis magni culpa eligendi maiores, suscipit laborum repellat sequi omnis a deleniti dolorum animi nemo ea
        accusamus nisi est sit voluptatibus repellendus provident eius quam quia asperiores ratione? Ad, quidem.
        Ut error nihil deserunt optio sed, saepe vel doloremque dolor, minus suscipit excepturi sapiente sit ipsum
        facilis possimus magnam? Vero omnis, at natus fugiat cumque maxime molestias voluptates perferendis laboriosam!
        Eveniet minus culpa rem corporis explicabo quae id nostrum distinctio commodi sit excepturi natus, suscipit
        molestias a. Soluta unde, ullam atque alias hic, debitis aspernatur cupiditate enim rem, maiores suscipit.</p>

    </div>
  </div>


  <script src="{% static 'js/particles.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/canvas.js' %}"></script>
  <script src="{% static 'js/typed.js' %}"></script>
  <script src="{% static 'js/marquee-config.js' %}"></script>
</body>

</html>