{% extends 'base.html' %}
{% load static %}

{% block start %}

<div class="container login-container">
    <div class="row" style="height: 25vh;"></div>
    <div class="row login-row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 login">
            <img src="{% static 'img/blog-assests/login-img.svg' %}" alt="login-img">
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
                <input id="username" name="username" type="text" placeholder="Username">
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 password">
            <input id="password" name="password" type="password" placeholder="Password">
            <span id="eyeIcon" onclick="togglePassword()"><i class="bi bi-eye-slash toggle"></i></span>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 btn-base btn-login">
            <button onclick="logIn()">LOGIN <i class="bi bi-box-arrow-in-right"></i></button>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row" style="height: 25vh;">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="bottom-login">
                <ul>
                    <li><a href="">Forgot Password?</a></li>
                    <li><a href="{% url 'blogs:signup' %}">New User? Sign-up Here!</a></li>
                </ul>  
            </div>
            </div>
        <div class="col-lg-4"></div>

    </div>


</div>

{% endblock %}