{% extends "base.html" %}

{% block start %}
{% load static %}

<title>{% block title %} Search {% endblock %}</title>

<div class="container">
    <div class="row">
        <div class="col-lg-12 searchHead">
            <h1>SEARCH RESULTS</h1>
            <span>{{searchQuery}}</span>
        </div>
    </div>
    <div class="row searchRow">
        {% for blog in searchResults %}
        <div class="col-lg-3 col-md-6 col-10 blog-list">
            <div class="blog-content">
                <a href="{% url 'blogs:blog-detail' blog.slug %}">
                    <img src="/media/{{blog.image}}" alt="blog-thumbnail">
                    <h4>{{blog.title}}</h4>
                    <p>{{blog.gist|safe}}</p><br>
                    <span>{{blog.created_at|date:"M d, Y"}} {{blog.created_at|time:"h:i A"}} by
                        {{blog.user.first_name}}</span><br>
                    <span>Total Views: {{blog.total_views}}</span>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}