{% extends 'base.html' %}
{% load static %}

{% block start %}
<script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>

<div class="container signup-container" id="signup-container">

    <!-- <div class="figure">
        <img src="{% static 'img/blog-assests/signup-img.svg' %}" alt="">
    </div> -->

    <div class="row" style="height: 15vh;"></div>
    <div class="row signup-row">
        <div class="col-lg-5 signup">
            <img src="{% static 'img/blog-assests/signup-img.svg' %}" alt="signup-img">
        </div>
        <div class="col-lg-7"></div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-12">
            <input id="firstname" name="firstname" type="text" placeholder="First Name">
        </div>
        <div class="col-lg-7"></div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <input id="lastname" name="lastname" type="text" placeholder="Last Name">
        </div>
        <div class="col-lg-7"></div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <input id="username" name="username" type="text" placeholder="Email Address">
        </div>
        <div class="col-lg-7"></div>
    </div>

    <div class="row">
        <div class="col-lg-5 password">
            <input id="password" name="password" type="password" placeholder="Password">
        </div>
        <div class="col-lg-7"></div>
    </div>

    <div class="row">
        <div class="col-lg-5 password">
            <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm Password">
            <span id="eyeIcon" onclick="togglePassword()"><i class="bi bi-eye-slash toggle"></i></span>
        </div>
        <div class="col-lg-7"></div>
    </div>
    <div class="row">
        <div class="col-lg-5 btn-base btn-signup">
            <button id="btn-signup" onclick="signUp()">SIGN UP <i class="bi bi-box-arrow-in-right"></i></button>
        </div>
        <div class="col-lg-7"></div>
    </div>

    <div class="row" style="height: 25vh;">
        <div class="col-lg-5">
            <div class="recaptcha">
                    <p>This site is protected by reCAPTCHA and the <br> Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.
                    </p>
                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response"> 
            </div>
        </div>
        <div class="col-lg-7"></div>
    </div>
</div>

<div id="success-toast-with-img" class="toast align-items-center bg-toast-green text-white border-0" role="alert"
    aria-live="assertive" aria-atomic="true" data-bs-delay="15000">
    <div class="d-flex">
        <div class="toast-body">
            <img id="toast-img" src="{% static 'img/blog-assests/email-sent-img.svg' %}" alt="">
            <span id="success-span" class="success-span-class"></span>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>

<script>
    //global grecaptcha
    grecaptcha.ready(function() {
      grecaptcha.execute('{{recaptcha_site_key}}', {action: "/signup/"}).then(function(token) {
        document.getElementById('g-recaptcha-response').value = token;
      });
    });
  </script>


{% endblock %}