{% extends "base.html" %}

{% block start %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-4 profilePage-img">
            {% if request.user.profile.profilePicture %}
            <div class="center-cropped" style="background-image: url('{{request.user.profile.profilePicture.url}}');">
            </div>
            {% else %}
            <div class="center-cropped"></div>
            {% endif %}
        </div>
        <style>
            .center-cropped {
                background-image: url("{% static 'img/blog-assests/default-profile-img.svg' %}");
            }
        </style>
        <div class="col-lg-8 profilePage-summary">
            <h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
            <div class="col-lg-2 summary-wid">
                <h6>Total Messages</h6>
                <span>{{userTotalComments}}</span>
            </div>
            <div class="col-lg-2 summary-wid">
                <h6>Reaction Score</h6>
                <span>200</span>
            </div>
            <div class="col-lg-2 summary-wid">
                <h6>User Type</h6>
                <span>{{request.user.is_staff}}</span>
            </div>
            <div class="col-lg-2 summary-wid">
                <h6>Joined Since</h6>
                <span>{{request.user.date_joined|date:"M d, Y"}} {{request.user.date_joined|time:"h:i A"}}</span>
            </div>
            <div class="col-lg-2 summary-wid">
                <h6>Last Login</h6>
                <span>{{request.user.last_login|date:"M d, Y"}} {{request.user.last_login|time:"h:i A"}}</span>
            </div>
        </div>

    </div>
</div>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container profileUserData-container">
        <div class="row profileUserData-row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8 profileUserData">
                <div class="row">
                    <input type="text" id="firstname" name="firstname" placeholder="Firstname"
                        value="{{request.user.first_name}}">
                    <input type="text" id="lastname" name="lastname" placeholder="Lastname"
                        value="{{request.user.last_name}}">
                    <input class="disabled" id="email" type="text" placeholder="Email" value="{{request.user.email}}"
                        disabled>
                    <input type="text" id="personalWebsite" name="personalWebsite" placeholder="Personal Website"
                        value="{{request.user.profile.website_url}}">
                    <input type="text" id="personalGithub" name="personalGithub" placeholder="Github Profile"
                        value="{{request.user.profile.github_url}}">
                    <input type="text" id="personalFacebook" name="personalFacebook" placeholder="Facebook Profile"
                        value="{{request.user.profile.facebook_url}}">
                    <input type="text" id="personalInstagram" name="personalInstagram" placeholder="Instagram Profile"
                        value="{{request.user.profile.instagram_url}}">
                    <input type="text" id="personalTwitter" name="personalTwitter" placeholder="Twitter Profile"
                        value="{{request.user.profile.twitter_url}}">
                    <input type="file" name="profilePictureImg" name="profilePictureImg" id="profilePictureImg">
                    <textarea name="bio" id="personalBio" cols="25" rows="5" name="personalBio"
                        placeholder="Bio">{{request.user.profile.bio}}</textarea>
                </div>
                <div class="btn-update">
                    <button type="submit">UPDATE</button>
                </div>
</form>
</div>
</div>
</div>

{% endblock %}