{% extends 'base.html' %}
<title>{% block title %} Email Sent {% endblock %}</title>

{% load static %}
{% block start %}

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 pwdReset btn-base">
            <img src="{% static 'img/blog-assests/email-sent-img.svg' %}" alt="email-sent-img" style="width: 40%;">
            <h3>PASSWORD RESET EMAIL SENT SUCCESSFULLY!</h3>

            <p>We've emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.</p>

            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check
                your spam folder.</p>

        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

{% endblock %}