{% extends 'base.html' %}
<title>{% block title %} Set A New Password {% endblock %}</title>

{% load static %}
{% block start %}

<div class="container">
	<div class="row pwdReset btn-base">
		<div class="col-lg-5">
			<img src="{% static 'img/blog-assests/login-img.svg' %}" alt="email-sent-img" style="width: 100%;">
		</div>
		<div class="col-lg-7" style="margin-top: 12em;">
			<h3>ENTER A NEW PASSWORD</h3>

			<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

			<form method="post">
				{% csrf_token %}
				{{form}}
				<button type="submit" style="display:block;">RESET <i class="bi bi-check2-circle"></i></button>
			</form>
		</div>
	</div>
</div>

{% endblock %}