{% extends 'base.html' %}
<title>{% block title %} Password Reset {% endblock %}</title>

{% load static %}
{% block start %}

<div class="container">
	<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-4 pwdReset btn-base">
			<img src="{% static 'img/blog-assests/pwd-forgot.svg' %}" alt="">
			<h3>RESET YOUR PASSWORD</h3>
			<p>Please enter your email address below, and we'll send an email with the instructions for setting-up a new
				password.</p>
			<form method="post">
				{% csrf_token %}
				{{form}}
				<button class="loginBtn" type="submit">SUBMIT <i class="bi bi-send"></i></button>

			</form>
		</div>
		<div class="col-lg-4"></div>
	</div>
</div>

{% endblock %}