{% extends 'base.html' %}
<title>{% block title %} Set A New Password {% endblock %}</title>

{% load static %}
{% block start %}

<div class="container">
	<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-4 pwdReset btn-base">
			<img src="{% static 'img/blog-assests/email-sent-img.svg' %}" alt="email-sent-img" style="width: 50%;">
			<h3>ENTER A NEW PASSWORD</h3>

			<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

			<form method="post">
				{% csrf_token %}
				{{form}}
				<button class="loginBtn" type="submit">RESET <i class="bi bi-check2-circle"></i></button>
			</form>
		</div>
		<div class="col-lg-4"></div>
	</div>
</div>

{% endblock %}