@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Staatliches&display=swap');

body, html{
    background-color: #1B1A17 !important;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

/* ============================== Particle.JS ============================== */

#particles-js{
    position: relative;
    background-color: #1B1A17;
    width: 100%;
    height: 100vh;
}

.name-head{
    padding: 20px;
    position: absolute;
    top: 55%;
    left: 10%;
}


.iam{
    display: flex;
}

.iam-border{
    margin-left: 20px;
    margin-top: 14px;
    width: 100%;
    border-top: white solid;
}

.particle h1{
    font-family: 'Staatliches', cursive;
    letter-spacing: 10px;
    color: #85F4FF;
    text-shadow: rgb(0, 0, 0) 0px 0px 30px;
    position: relative;
    font-size:4em;
    font-weight:900;
}

.particle h2{
    font-family: 'Roboto', sans-serif;
    margin-left: 5px;
    color: #F5F5F5;
    position: relative;
    font-size:1.5em;
}

.icon-list {
    position: absolute;
    top: 25%;
    right: 2%;
}

.icon-list ul{
    list-style-type: none;
    line-height: 3;
}

.icon-list a{
    font-size: 26px;
    color: #FFF;
    transition: all 0.5s ease 0s;
}

.icon-list a:hover{
    color: rgb(151, 151, 151);
}

.typed-cursor {
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.resume span {
    font-family: 'Roboto', sans-serif;
	position: absolute;
    margin-top: 18px;
    border-top: solid #F5F5F5 1px;
    border-bottom: solid #F5F5F5 1px;
    border-radius: 5px;
	color: #F5F5F5;
    font-size: 0.8em;
    padding: 2px 6px 2px;
	transition: all ease 0.7s;
}


.resume span:hover {
	background-color: #BBE1FA;
	color: #000;
}

/* ============================== scrollbar ============================== */

::-webkit-scrollbar {
	height: 5px; 
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
	height: 80px;
	background-color:#F5F5F5;
}

/* ============================== About Me ============================== */

.about-container{
    text-align: justify;
    margin-top: 120px !important;
}

.about-me{
    display: flex;
    float: right;
}

.about-me h1{
    position: absolute;
    color: rgb(190, 190, 190);
    font-size: 11em;
    font-weight: 700;
    opacity: 0.2;
}

.about-me h2{
    font-family: 'Roboto', sans-serif;
    margin-top: 120px;
    margin-left: 160px;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: 500;
    color: #FFF;
    position: absolute;
    text-shadow: 0 0 15px #000;
}

.about-me p {
    font-family: 'Roboto', sans-serif;
    /* position: absolute; */
    margin-top: 250px;
    color: #EEEEEE;
    padding: 10px;
}


.about-me-img img{
    margin-top: 120px;
    float: left;
    width: 80%;
}

/* ============================== Skills ============================== */


.skills-container{
    margin-top: 150px !important;
}

.skills{
    float: left;
}

.skills h1{
    position: absolute;
    color: rgb(190, 190, 190);
    font-size: 11em;
    font-weight: 700;
    opacity: 0.6;
}


/* .progress{
    height: 4px;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 0.6rem;
    background-color: #F3F4F6;
    font-size: 0.75rem;
    font-weight: 600;
    box-shadow: inset 0 1px 3px rgb(0 0 0 / 20%);
} */

.skills-img img{
    margin-top: 120px;
    float: right;
    width: 90%;
}

.skillset{
    margin-top: 18rem;
}

.skillset h2{
    color: #F5F5F5;
    font-size: 1.2em;
}

.individual-skill{
    margin-top: 2rem;
}

.progress{
    width: 90%;
    height: 5px !important;
}

.progress-bar{
    height: 5px;
    background-color: #3aaf85 !important;
}



/* ============================== Marquee ============================== */


:root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 7s);
  }
  
  .marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    color: rgb(190, 190, 190);
    opacity: 0.5;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }

  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }
  /* .marquee-content:hover {
    animation-play-state: paused;
  } */
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*1.5/5); /* 5rem; */
    white-space: nowrap;
  }






  
/* ============================== Media Frames ============================== */

  
@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-width: 580px) {
   /* styles for mobile browsers smaller than 580px; (iPhone) */

.h1-head h1{
    font-size: 8.5em;
    font-weight: 700;
}

.about-me h2{
    margin-top: 100px;
    margin-left: 150px;
    font-size: 1em;
}

:root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }


}
@media only screen and (device-width: 768px) {
   /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}



