@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Staatliches&display=swap');

body, html{
    background-color: #1B1A17 !important;
    font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth !important;
}

/* ============================== Navbar ============================== */
#navbar {
    background-color:rgba(6, 6, 6, 0.950);
    position: fixed;  
    z-index: 1000;
    width: 100%;
    height: 55px;
    top: -50px;
    transition: top 0.3s ease;
  }


.brand-img img{
    width: 40%;
    padding: 10px;
}

.nav-contents{
    padding: 15px;
}

.nav-contents a {
    text-decoration: none;
    color: #6d6d6d;
    font-size: 0.9em;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
  }


.list-icon{
    position: absolute;
    top: 0%;
    right: 2%;
    font-size: 2em !important;
    display: none;
}

.list-icon a{
    color: white !important;
}

.nav-contents a:hover{
    color: white;
}

.nav-contents li {
    display: inline;
    padding: 5px;
}
/* ============================== Lander ============================== */

.heart-button {
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

.heart .heart-flip, .heart-button .heart-flip {
    --base: 12px;
    --duration: 0.6s;
    --active: #F50057;
    --inactive: #d1d6ee;
    width: var(--base);
    height: calc(var(--base) + var(--base) / 2);
    border-radius: calc(var(--base) / 2) calc(var(--base) / 2) 0 0;
    position: relative;
    transform-origin: 50% 66.66%;
    transform-style: preserve-3d;
    transform: rotate(var(--rotate, -45deg));
    transition: background var(--duration), transform var(--duration) ease;
    background: var(--heart-background, var(--inactive));
  }

.heart .heart-flip:before, .heart-button .heart-flip:before, .heart .heart-flip:after, .heart-button .heart-flip:after {
    content: '';
    width: calc(var(--base) / 2);
    height: var(--base);
    border-radius: var(--pseudo-border-radius, calc(var(--base) / 2) 0 0 calc(var(--base) / 2));
    position: absolute;
    left: var(--pseudo-left, -50%);
    transform-origin: var(--pseudo-origin, 100%) 50%;
    bottom: 0;
    background: var(--heart-background, var(--inactive));
    filter: brightness(var(--pseudo-filter, 50%));
    transform: translateX(1%) rotateY(var(--pseudo-rotate, 90deg)) translateZ(0);
    transition: background var(--duration), transform var(--duration) ease, filter var(--duration);
  }

.heart .heart-flip:after, .heart-button .heart-flip:after {
    --pseudo-border-radius: 0 calc(var(--base) / 2) calc(var(--base) / 2) 0;
    --pseudo-left: 100%;
    --pseudo-origin: 0;
    filter: brightness(var(--pseudo-filter-second, 100%));
    transform: translateX(-1%) rotateY(var(--pseudo-rotate-second, 0deg)) translateZ(0);
  }

.heart.active .heart-flip, .heart-button.active .heart-flip {
    --rotate: 45deg;
    --pseudo-filter: 100%;
    --pseudo-filter-second: 50%;
    --pseudo-rotate: 0deg;
    --pseudo-rotate-second: 90deg;
    --heart-background: var(--active);
  }

.heart {
    background: none;
    border: none;
    padding: 0;
    transform: scale(var(--button-scale, 1)) translateZ(0);
    transition: transform 0.2s;
  }

.heart:active {
    --button-scale: 0.95;
  }

.heart{
    position: absolute;
    bottom: 20%;
    left: 20px;
  }

.txt-like h6{
    position: absolute;
    left: 25px;
    bottom: 15%;
    /* margin-bottom: 10px; */
    padding: 5px;
    color: #fff;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right;
}
  

.resume{
    display: block;
    position: absolute;
    right: calc(36% + 2px);
}

.resume i{
    margin-left: 3px;
}

.resume a{
    border-radius: 8px;
    padding: 3px 6px 3px 6px;
    font-size: 0.8em;
    text-decoration: none;
    color: white;
    background-color: #3f3d56;
    transition: all 0.3s ease-in-out;
}

.resume a:hover{
    color:#FF9704;
}

.lander-img img{
    width: 100%;
}

.lander-txt{
    position: absolute;
    top: 57%;
}

.container-head {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-head .box {
  position: relative;
  left: 40%;
}

.container-head .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}
.container-head .box .title .block {
  width: 0%;
  height: inherit;
  height: 80px;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.container-head .box .title h1 {
  font-family: 'Staatliches', cursive;
  font-size:4em;
  font-weight:900;
  color: #ffb510;
  letter-spacing: 2px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}

/* .container-head .box .work{
    opacity: 0;
    -moz-animation: workAni 2s;
    -webkit-animation: workAni 2s;
    -o-animation: workAni 2s;
    animation: workAni 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes workAni {
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

.typed-cursor {
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container-head .box .work{
    text-align: center;
}

.container-head .box h2{
    margin-left: -30px;
}

.container-head .box span{
    font-size: 0.5em;
    font-weight: 700;
    color: #3f3d56;
}

.container-head .box .role {
width: 100%;
    position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}

.container-head .box .role .block {
    width: 0%;
    margin-top: 10px;
    margin-right: 20px;
    height: inherit;
    background: #e91e63;
    position: absolute;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
}
.container-head .box .role h2 {
    margin-left: 0px;
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
}

@keyframes secBlock {
    0% {
      width: 0%;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }

  @keyframes secFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo-sign {
    position: absolute;
    width: 45px;
    height: 30px;
    right: 2%;
    bottom: 3%;
    margin-left: -27px;
    margin-top: -15px;
    transition: all .2s ease; }
  
  .logo-sign__line {
    transition: all .2s ease;
    animation: wavy 1s ease infinite forwards;
    transform-origin: 50% 50%; }
  
  .logo-sign__line:nth-child(1) {
    animation-delay: 0.25s; }
  
  .logo-sign__line:nth-child(2) {
    animation-delay: 0.5s; }
  
  .logo-sign__line:nth-child(3) {
    animation-delay: 0.75s; }
  
  .logo-sign__line:nth-child(4) {
    animation-delay: 1s; }
  
  .logo-sign__line:nth-child(5) {
    animation-delay: 1.25s; }
  
  .logo-sign__line:nth-child(6) {
    animation-delay: 1.5s; }
  
  .logo-sign__line:nth-child(7) {
    animation-delay: 1.75s; }
  
  @keyframes wavy {
    0% {
      transform: scaleY(1); }
    50% {
      transform: scaleY(0.6); }
    100% {
      transform: scaleY(1); } }
  

.icon-list {
    position: absolute;
    top: 25%;
    right: 2%;
}

.icon-list ul{
    list-style-type: none;
    line-height: 3;
}

.icon-list a{
    font-size: 18px;
    color: #FFF;
    transition: all 0.5s ease 0s;
}

.icon-list a:hover{
    color: rgb(151, 151, 151);
}

/* ============================== scrollbar ============================== */

::-webkit-scrollbar {
	height: 5px; 
    width: 6px;

}

::-webkit-scrollbar-track {
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
	height: 80px;
	background-color:#F5F5F5;
}

/* ============================== About Me ============================== */

.about-container{
    text-align: justify;
    margin-top: 120px !important;
    padding-top: 40px;
}

.about-container a{
    text-decoration: none;
    color: #FF9704;
    transition: all 0.3s ease-in-out;
}

.about-container a:hover{
    color: #fff;
}

.about-me{
    display: flex;
    float: right;
}

.about-me h1{
    position: absolute;
    color: #FFF;
    font-size: 11em;
    font-weight: 700;
    opacity: 0.2;
}

.about-me h2{
    font-family: 'Roboto', sans-serif;
    margin-top: 120px;
    margin-left: 160px;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: 600;
    color: #FF9704;
    position: absolute;
    text-shadow: 0 0 10px #000;
}

.about-me p {
    font-family: 'Roboto', sans-serif;
    margin-top: 250px;
    color: #EEEEEE;
    padding: 10px;
}

.about-me-img img{
    margin-top: 165px;
    float: left;
    width: 90%;
}

/* ============================== Skills ============================== */


.skills-container{
    margin-top: 150px !important;
    padding-top: 40px;
}

.skills{
    float: left;
}

.skills h1{
    position: absolute;
    color: #FF6701;
    font-size: 11em;
    font-weight: 700;
    opacity: 0.7;
}

.skills-img img{
    margin-top: 130px;
    float: right;
    width: 100%;
}

.skillset{
    margin-top: 15rem;
}

.skillset h2{
    color: #F5F5F5;
    font-size: 1.2em;
}

.individual-skill{
    margin-top: 2rem;
}

.progress{
    width: 90%;
    height: 5px !important;
}

.progress-bar{
    height: 5px;
    background-color: #3aaf85 !important;
}


/* ============================== Marquee ============================== */


:root {
    --marquee-width: 80vw;
    --marquee-height: 20vh;
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 7s);
  }
  
  .marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    color: rgb(190, 190, 190);
    opacity: 0.5;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }

  .marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
  }
  /* .marquee-content:hover {
    animation-play-state: paused;
  } */
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*1.5/5); /* 5rem; */
    white-space: nowrap;
  }


/* ============================== Timeline ============================== */

.bg-timeline-head h1{
    white-space: nowrap;
    padding: 20px;
    margin: 50px;
    position: absolute;
    color: #4e4e4e;
    font-size: 15em;
    font-weight: 700;
    opacity: 0.2;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right;
    left: 10%;
}

.container-timeline .display-img-one{
    position: absolute;
    right: 0%;
    z-index: 3;
}

.container-timeline .display-img-one img{
    width: 60%;
    margin-top: 20em;
}

.individual-timeline-data{
    z-index: 9;
}

.container-timeline .display-img-two{
    position: absolute;
    left: 10%;
    width: 25%;
    z-index: 3;
}

.container-timeline .display-img-two img{
    width: 120%;
    margin-top: 7em;
}

.container-timeline .display-img-three{
    position: absolute;
    right: 0%;
    width: 40%;
    z-index: 3;
}

.container-timeline .display-img-three img{
    width: 80%;
    margin-top: 20em;
}

.container-timeline {
    margin-top: 3em;
    margin-bottom: 200px;
}

.timeline-bg {
    color: #c7c7c7;
    height: 100%; 
}
  
.circle-txt {
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50%;
    position: absolute;
    background-color: #d8d8d8;
    color: #000;
    max-height: 50px;
    z-index: 2; 
}

.individual-timeline-data{
    margin: 50px 0px 50px !important;
}

.individual-timeline-data span{
    display: block;
    color: #6d6d6d;
    font-size: 0.9em;
}

.individual-timeline-data h4{
    margin: 3px 0px 5px;
    color: #FF9704;
}

.individual-timeline-data h6{
    font-size: 0.9em;
    color: white;
}

.individual-timeline-data a{
    font-weight: 500;
    color: #4e4e4e;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.individual-timeline-data a:hover{
    color: white;
}

.how-it-works.row .line{
    border-left: 3px solid #d8d8d8;
    height: calc(100% / 3);
    top: 35%;
    position: relative;
    }
  
.how-it-works.row {
    display: flex; 
}

.how-it-works.row .col-2 {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center; 
}

.how-it-works.row .col-2::after {
    content: '';
    position: relative;
    border-left: 3px solid #d8d8d8;
    z-index: 1; }

.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: calc(0% + -1px);
  top: 25%; }

.how-it-works.row .col-2.full::after {
  height: 100%;
  left: 0%; }

.how-it-works.row .col-2.top::after {
  height: 100%;
  left: calc(0% + -1px);
  top: 0%; }

.how-it-works.row .col-2.final-top::after {
    height: 50%;
    left: calc(0% + -1px);
    top: -25%; }

.timeline div {
    padding: 0;
    height: 40px; 
}
  
.timeline hr {
    border-top: 3px solid #d8d8d8;
    margin: 0;
    top: 17px;
    opacity: 1;
    position: relative; 
}

.text-center hr {
    border-top: 3px solid #d8d8d8;
    transform: translateX(-100%) rotate(-90deg);
    transform-origin: right;
    opacity: 1;
    position: relative; 
}
  
.timeline .col-2 {
    display: flex;
    overflow: hidden; 
}
  
.timeline .corner {
    border: 3px solid #d8d8d8;
    width: 100%;
    position: relative;
    border-radius: 15px; 
}
  
.timeline .top-right {
    left: 49%;
    top: -50%; 
}
  
.timeline .left-bottom {
    left: -49%;
    top: calc(50% - 3px); 
}
  
.timeline .top-left {
    left: -49%;
    top: -50%; 
}
  
.timeline .right-bottom {
    left: 49%;
    top: calc(50% - 3px); 
}



/* ============================== Blogs ============================== */
.blogs-container{
    padding-top: 40px;
}

.blogs-container h1{
    text-align: center;
    color: #A7FF83;
    font-size: 11em;
    font-weight: 700;
    opacity: 0.7;
    margin-bottom: 100px;
}

.blog-list{
    padding: 15px;
    margin-top: 80px;
}

/* .blog-content{
    text-align: justify;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.blog-content img{
    width: 100%;
}

.blog-content h4{
    margin: 10px 0px 10px;
    text-align: left;
    color: white;
}

.blog-content p{
    margin: 10px 0px 10px;
    color: #6d6d6d;
}

.blog-content span{
    font-size: 0.8em;
    color: #999999;
}

.blog-content a {
    text-decoration: none;
}

.blog-content:hover{
    box-shadow: #000 0px 0px 30px;
} */

.blog-content {
	border: 1px solid #333;
	border-radius: 20px;
	padding: 15px;
	transition: all 0.3s ease-in-out;
	box-shadow: 8px 8px 0px #121212;
}

.blog-content img {
	width: 100%;
	max-height: 155px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.blog-content h4 {
	font-size: 1em;
	margin: 10px 0px 10px;
	text-align: left;
	color: white;
	min-height: 3.5em;
}

.blog-content p {
	margin: 15px 0px 10px;
	color: #6d6d6d;
	height: 15em;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 10;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blog-content span {
	font-size: 0.8em;
	color: #999999;
	font-weight: 500;
}

.blog-content a {
	text-decoration: none;
}

.blog-content:hover {
	/* box-shadow: #000 0px 0px 30px; */
	border-color: #fff;
}

/* .btn-load-more{
    padding: 10px;
}

.btn-load-more a{
    background-color: #000;
    text-decoration: none;
    font-size: 0.8em;
    border: 2px solid white;
    border-radius: 5px;

    color: white;
    font-weight: 600;
    padding: 10px 20px 10px;
    transition: all 0.3s ease-in-out;
}

.btn-load-more a:hover{
    border-color: #000;
    color: white;
}

.btn-load-more i{
    margin-left: 5px;
} */

.loadMoreBtn{
	text-decoration: none;
	color: white;
	border: 2px solid #999999;
	border-radius: 15px;
	padding: 10px 15px 10px 15px;
	width: 12em !important;
	margin: 15px;
	margin-top: 3em !important;
    font-size: 0.8em;
    transition: all 0.3s ease-in-out;
	font-weight: 500;
	box-shadow: 8px 8px 0px #121212;
}

.loadMoreBtn i{
	float: right;
}

.loadMoreBtn:hover{
	background-color: white;
	border-color: white;
	color: #000;
}

/* ============================== Contact ============================== */

.contact-bg{
    margin-top: 80px;
    padding-top: 60px;
    margin-bottom: 100px;
}

.contact-bg .contact-head h4{
    color: white;
    margin: 5em 0em 2.5em;
}

.get-in-touch{
    text-align: left;
}

.leave-me-a-message{
    text-align: right;
}

.contact-bg .contact-data .get-in-data i, h6{
    color: #4e4e4e;
    display: inline-block;
}

.contact-bg .contact-data .get-in-data i{
    margin-right: 20px;
}

.leave-me-data input{
    width: 100%;
    padding: 6px;
    margin-top: 10px;
}

.form-row{
    padding: 10px !important;
    margin: 10px;
}

textarea, input{
    padding: 20px 0 0 10px;
	border: 2px solid grey;
	border-radius: 5px;
	background-color: #232323;
	margin-top: 25px;
	color: #e0e0e0;
    box-shadow: 8px 8px 0px #121212;
}

textarea:focus{
    outline: none !important;
	border-color: #3aaf85 !important;
    box-shadow: 8px 8px 0px #121212;
}

input:focus{
    outline: none !important;
	border-color: #3aaf85 !important;
    box-shadow: 8px 8px 0px #121212;
}


.btn-submit{
    padding: 10px;
}

.btn-submit button{
    background-color: inherit;
    text-decoration: none;
    text-align: left;
	color: white;
	border: 2px solid #999999;
	border-radius: 15px;
	padding: 10px 15px 10px 15px;
	width: 12em !important;
	margin-top: 3em !important;
    font-size: 0.8em;
    transition: all 0.3s ease-in-out;
	font-weight: 500;
	box-shadow: 8px 8px 0px #121212;
}
    
.btn-submit button:hover{
    background-color: white;
	border-color: white;
	color: #000;
}

.btn-submit i{
	float: right;
}

.bg-toast-green {
    background-color: #00BFA6 !important;
}

.bg-toast-red {
    background-color: #F50057 !important;
}

#success-toast{
    position: fixed;
    right: 10px;
    bottom: 2%;
    z-index: 9;
}

#warning-toast{
    position: fixed;
    right: 10px;
    bottom: 2%;
    z-index: 9;
}

.bouncer{
    text-align: center;
}

.btn-bounce {
	color: #FF9704;
	font-size: 20px;
	margin: 40px;
	display: inline-block;
	transition: all ease-in 0.3s;
	-webkit-transition: all ease-in 0.3s;
	-moz-transition: all ease-in 0.3s;
}

.btn-bounce:hover {
	color: #e0e0e0;
}

.btn-bounce:focus {
	color: #e0e0e0;
}

@-webkit-keyframes bounce {
	0%,
	100% {
		-webkit-transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-20px);
	}
}

@-moz-keyframes bounce {
	0%,
	100% {
		-moz-transform: translateY(0);
	}
	50% {
		-moz-transform: translateY(-20px);
	}
}

@-o-keyframes bounce {
	0%,
	100% {
		-o-transform: translateY(0);
	}
	50% {
		-o-transform: translateY(-20px);
	}
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
}

.bounce {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
/* ============================== Footer ============================== */

footer{
    height: 350px;
    background-color: rgb(32, 32, 32);
}

.btn-footer{
    margin: 15px !important;
}

.icon-sec{
    margin-top: 60px !important;
    margin-bottom: 60px;
    text-align: center;
    padding: 20px;
}

.icon-sec a{
    font-size: 1.2em;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 14px;
    transition: all 0.3s ease-in-out;
}

.icon-sec a:hover{
    color: white;
    border-color: rgb(32, 32, 32);
    background-color: #000;
}

.copyright{
    text-align: center;
    color: white;
}

.copyright p{
    padding: 10px;
    font-size: 0.9em;
    margin: 0px !important;
}

.footer-text{
    margin-bottom: 60px;
    text-align: center;
}

.footer-text a:hover {
	color: #e0e0e0;
}

.footer-text a {
	color: #333;
	text-decoration: none;
	font-size: 16px;
	transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
}

.footer-text .visit-counter{
	cursor: pointer;
	font-size: 13px !important;
}

/* ============================== Media Frames ============================== */

  
@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}
@media only screen and (max-width: 580px) {
   /* styles for mobile browsers smaller than 580px; (iPhone) */

.h1-head h1{
    font-size: 8.5em;
    font-weight: 700;
    text-align: center;
}

.container-head .box {
    left: 0%;
  }

  .container-head .box span {
    color: #fff;
  }

.container-head .box .title h1{
    font-size: 3em;
    font-weight: 600;
}

.txt-like h6{
    font-size: 0.9em;
}

.nav-contents ul{
    display: none;
}

/* #navbar{
    height: 16em;
}

.nav-contents li{
    float: right;
    clear: right;
} */

.resume{
    right: calc(32% + 2px);
}

.list-icon{
    display: block;
}

.about-me h2{
    margin-top: 100px;
    margin-left: 150px;
    font-size: 1em;
}

:root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }

.marquee:before, .marquee:after { 
    width: 5rem; 
}

.container-timeline .display-img-one{
    display: none;
}

.container-timeline .display-img-two{
    display: none;

}

.container-timeline .display-img-three{
    display: none;
}

.blog-list{
    width: 100% !important;
}

.btn-footer{
    margin: 10px !important;
}

}



@media only screen and (min-width: 580px) and (max-width: 1200px){
    .nav-contents ul{
        display: none;
    }
    
    .list-icon{
        display: block;
    }
    
  }



@media only screen and (device-width: 768px) {
   /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}



